# Database Connection String (PostgreSQL)
# Format: postgresql://username:password@host:port/database
DATABASE_URL=

# Admin Password
ADMIN_PASSWORD=Tinothedino

# Captain Password
CAPTAIN_PASSWORD=Captains

# Port (optional, defaults to 3000)
PORT=3000

# Environment
NODE_ENV=production
